
.flower{
    width: 380px;
    height: 130px;
    background-color: red;
    border-radius: 50px;
    margin-top: 200px;
    margin-left: 150px;
}
.flower::before{
    content: "";
    display: block;
    position: absolute;
    width: 380px;
    height: 130px;
    background-color: red;
    border-radius:50px;
    transform: rotate(60deg);
}
.flower::after{
    content: "";
    display: block;
    position: absolute;
    width: 380px;
    height: 130px;
    background-color: red;
    border-radius:50px;
    transform: rotate(-60deg);

}


.leaf1{
    border-radius: 500px 300px 54px 300px;
    background: green;
    width: 150px;
    height: 140px;
    margin-left: 170px;
}
.leaf2{
    border-radius: 300px 500px 300px 54px;
    background: green;
    width: 150px;
    height: 140px;
    margin-left: 360px;
    margin-top: -160px;
}
.pot-top{
    width: 550px;
    height: 50px;
    background-color: rgb(206, 0, 0);
    border-radius: 4px;
    margin-left: 50px;
}
.pot-bottom{
    width: 250px;
    height: 500px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 130px solid brown;
    margin-left: 50px;
    
}
.rod{
    width: 20px;
    height: 260px;
    background-color: green;
    border-radius: 5px;
    margin-top: -240px;
    margin-left: 330px;
}