*{
    margin: 0;
    padding: 0;
}
.car-container{
        width: 550px;
        position: absolute;
        z-index: 1;
        background-repeat: repeat-x;
        animation: driving 5s infinite linear;
        transform: scale(1);
}
@keyframes driving{
          100%{
              transform: translateX(1340px);
          }
}


.car-top1{
    border: 30px solid teal;
    height: 280px;
    width: 450px;
    background-color: teal;
    border-radius: 35%;
    position: absolute;
    top: 90px;
    margin-left: 450px;
}
.window1{
    border: 5px solid #ffffff;
    height: 150px;
    width: 90px;
    background-color: #ffffff;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    left: -20px;
    top: -5px;
}
.window2{
    border: 5px solid #ffffff;
    height: 150px;
    width: 90px;
    background-color: #ffffff;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    position: absolute;
    left: 366px;
    top: -5px;
}
.car-top2{
    border: 4px solid grey;
    height: 410px;
    width: 250px;
    position: absolute;
    border-radius: 10%;
    left: 577px;
    z-index: 1;
    top: 110px;
}
.door{
    border: 5px solid #ffffff;
    height: 170px;
    width: 230px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 15%;
}
.door-knob{
    width: 30px;
    height: 14px;
    background-color: rgba(250, 237, 237, 0.877);
    border-radius: 30%;
    position: absolute;
    left: 28%;
    top: 65%;
    border: 1px solid lightcoral;
}
.car-bottom1{
    width: 900px;
    height: 250px;
    background-color: teal;
    border: 34px solid teal;
    border-radius: 37%;
    position: absolute;
    margin-left: 230px;
    top: 270px;
    
}
.car-bottom2{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 400px;
    
}
.wheel1-top{
    border: 5px solid #000000;
    height: 190px;
    width: 190px;
    background-color: #000000;
    border-radius: 50%;
    justify-content: space-between;
    position: absolute;
    top: 507px;
    left: 408px;
    animation: wheelsRotation 1s linear infinite;
}
.wheel1{
    border: 5px solid grey;
    height: 120px;
     width: 120px;
     margin: 29px;
    background-color: gray;
    border-radius: 50%;
    left: 1px;
    top: 0px;
    position: absolute;
    animation: wheelsRotation 1s linear infinite;
    
}
.wheel2-top{
    border: 5px solid #000000;
    height: 190px;
    width: 190px;
    background-color: #000000;
    border-radius: 50%;
    justify-content: space-between;
    left:6px ;
    top: 508px;
    position: absolute;
    animation: wheelsRotation 1s linear infinite;
}
.wheel2{border: 5px solid grey;
    height: 118px;
    width: 118px;
    margin: 29px;
    background-color: gray;
    border-radius: 50%;
    left: -1px;
    top: 0px;
    position: absolute;
    animation: wheelsRotation 1s linear infinite;
}
@keyframes wheelsRotation {
    100% {
        transform: rotate(360deg);
    }
}
.head-light{
    border: 1px solid orange;
    height: 55px;
    width: 15px;
    position: absolute;
    background-color: orange;
    border-radius: 10px;
    right: -815px;
    top: 390px
}
.back-light{
    border: 1px solid red;
    height: 55px;
    width: 15px;
    position: absolute;
    background-color:red;
    border-radius: 10px;
    left: -187px;
    top: 404px
}