*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.flex-container{
    background-color: rgb(234,60,83);
    height:58px;
    /*padding:"15px";
    margin: "20px";*/
    justify-content: space-between;
    display: flex;
}
.flex-container nav{
    margin-top: 0px;
    margin-right: 15px;
    height: 48px;
    margin-bottom: 0px;
    
}
nav a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 40px;
    
    height: 85%;
    float: left;
    /*border: 1px solid black;*/
     

    padding-top: 18px;
    padding-left: 1px;
    padding-right: 1px;
    font-family: Arial, Helvetica, sans-serif;
   
}
nav a:hover{
    color:white;
    background: rgb(147, 108, 184);

}
.logo{
    width: 500px;
    margin-top: 4px;
    margin-left:2px;
    margin-bottom: 2px;
    height: 1px;
}
.font{
    height: 600px;
    background-color: rgb(41, 43, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}
.font div{
    text-align: center;
}
.font div h1{
    
     font-size: 3.5rem;
     font-weight:10px ;
     color: white;
     margin: 0px;

}
.font div p{
    font-size: 2.5em;
    color: rgb(234,60,83);
    margin: 0px;
    
}
.section{
    padding-top: 50px;
    background-color: teal;
    margin :auto;
    

}
.section h2{
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid white;
    background-color: teal;
    margin: auto;

}
h2{
    margin: 0;
    font-size: 40px;
    color: yellowgreen;
     text-align: center;
     font-family: sans-serif;
     display: block;
     margin-block-start: 0.83em;
     margin-block-end: 0.83em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     background-color: teal;

}
.container{
  /* width: 90px;*/
    margin: 0;
    background: teal;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
}
.image{
    margin: 5px;
    /*border: 1px solid grey;*/
    width: 390px;
}
.image img{
    width: 100%;
    height: auto;
    

}
.text{
    padding: 20px;
    text-align: center;
    font-size: 24px; 
     margin: auto;
}
.text:hover{
    color: white;
    background-color: black;

}

.text1{
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    font-size: 20px;

}
.text1:hover{
    color: white;
    background-color: black;
}

.text2{
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    font-size: 20px;

}
.text2:hover{
    color: white;
    background-color: black;
}

.text3{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 20px;

}
.text3:hover{
    color: white;
    background-color: black;
}

.text4{
    margin-top: 150px;
    padding: 20px;
    text-align: center;
    font-size: 20px;

}
.text4:hover{
    color: white;
    background-color: black;
}

.text5{
    margin-top: 130px;
    padding: 20px;
    text-align: center;
    font-size: 20px;

}
.text5:hover{
    color: white;
    background-color: black;
}

.text6{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 20px;

}
.text6:hover{
    color: white;
    background-color: black;
}


.footer{
    text-align: center;
    color: white;
    background-color: rgb(48, 44, 44);
    margin-top: 40px;
}
.contact link{
    height: 40px;
    text-align: center;
    color: white;
    font-size: 1em;
    justify-self: start;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.contact link:hover{
    color: rgb(48, 44, 44) ;
    jus
}
h2{
    margin-top: 40px;
    background-color: rgb(48, 44, 44);
}
i{
    color: white;
    font-size: 12px;
}
a{
    color: white;
    
}
p{
    font-size: 1.4em;
}
.button{
    background-color: brown;
    border: none;
    color: cornsilk ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    display: center;
    border-radius: 20px;
    
    margin-left: 20em;
    margin-right: 20px;
}
.button:hover{
    color: aliceblue;
    background-color: darkslategrey;
}
hr{
    background-color: red;
}
.page{
font-weight: 300;
display: flex;
justify-content: space-between;
padding: 2rem;
background: var(--main-gray);
border-top: 4px solid var(--main-red);
background-color: rgb(48, 44, 44);
font-size: 15px;
color: silver;
}
.page p{
    margin-right: 20px;
    margin-left: 20px;
}