*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(image/zomato1.png);
    height: 620px;
}
.flex-container{
    
    justify-content: space-between;
    display: flex;
    position: absolute fixed;
}
.flex-container nav{
    margin-top: 0px;
    margin-right: 15px;
    height: 48px;
    margin-bottom: 0px;
    
}
nav a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 40px;
    
    height: 85%;
    float: right;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.get{
    color: white;
    float: left;
    margin-left: 30px;
}
h1{
    text-align: center;
    font-size: 90px;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    font-style: italic;
    margin-top: 208px;
    
}
h2{
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 35px;
    margin: 13px;
    
}

.location{
    font-size: 20px;
    
    
    padding: 7px;
    padding-top: 15px;;
    align-items: center;
    border-radius:3px;
    left: 350px;
    outline: none;
}
.loco{
    color:tomato;
    position: ;
    margin-left: 320px;
}
.search{
    font-size:15px;
    
    padding: 7px;
    padding-top: 15px;
    padding-right: 30px;
    align-items: center;
    border-radius: 3px;
    left: 580px;
    top:380px;
    width: 24%;
    height: 22px;
    outline: none;
    border: 1px solid white;
}
.icon a{
    position: absolute;
     
    
}
.media{
    margin: 2px;
    color:white;
    
    left: 990px;
    top: 390px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 122px;
}
.box{
     margin-top: 30px;     
     border: 1px solid black;
     border-radius: 15px;
     margin-right: 35px;
}
.image{
    display: flex;
    flex-wrap: wrap;
    height: 202px;
    width: 537px;
    left: 74px;
    border-radius: 15px;
    
}
.image2{
    display: flex;
    flex-wrap: wrap;
    height: 202px;
    width: 537px;
    left: 74px;
    border-radius: 15px 15px 0px 0px;
    
}

.title{
    text-align: left;
    font-weight: 500;
    padding-left: 10px;
    font-size: 19px;
}
.sub-title{
    text-align: left;
    font-weight: 500;
    padding-left: 10px;
    color: rgb(100, 94, 94);
}
.art{
    margin-left: 122px;
}
.coll{
    font-size: 50px;

}
.small{
    font-size: 25px;
    color: rgb(73, 70, 70);
}
.container2{
    display: flex;
    flex-wrap: wrap;
    margin-left: 122px;
}
.box2{
       
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 35px;
}
.image3{
    width: 260px;
    height: 302px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    
}
.asdf img{
    height: 500px;
    width: 300px;
    margin-left: 359px;
}
h3{
    font-size: 50px;
    margin-left:700px;
    margin-top: -400px;
}